@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.headstyle{
  font-size: 40px;
  text-align: center;
  font-family: 'Dancing Script', cursive;
  margin-top: 2rem;
 
}
.navbar{
  list-style-type: none;
  width: 20%;
  margin: 0 auto;

}
.nav-item{
  color:#cccccc;
  font-size: 18px;
  text-decoration: none;

}
.nav-item:hover{
  color:black;
}
.containerImg{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.containerImg img{
  margin: 0.8rem;
  width: 28%;
  object-fit: fill;
  cursor: pointer;
  padding: 2px;
  /* background-color: red; */
}
.containerImg img:last-child{
  margin-left: 3rem;
}
.footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contactIcon{
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* width: 100px; */
  /* background: green; */
  /* margin: 0 auto; */
}
.contactIcon li button{
  margin: 5px;
}